# Ambientes Virtuais (Pastas pesadas de bibliotecas locais)
venv/
ENV/
env/

# Arquivos de log gerados pelo satélite em tempo real
*.log
historico_satelite.log

# Payloads dinâmicos de integração gerados pelo código
alerta_ativo.json

# Caches do Python
__pycache__/
*.pyc

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db